body{background-color: blue ;}
#titulo {
  font-size: 80px ; 
  text-align: center;     
  color: blue; 

}

.texto {
    font-size: 30px%;
    text-align: justify;
       color: black; 

}
.listas1 {
  font: size 30px;
  text-align: center
list-style-position:inside ;
}
listas2